body {
	background: #FFFFFF none repeat scroll 0 0;
	font-family: Tahoma,Calibri,Verdana,Geneva,sans-serif;
	font-size: 0.9em;
	max-width: 1100px;
	min-width: 800px;
	margin: 0 auto;
	text-align: center;
}
h2 {
	text-align: left;
}
p {
	text-align: justify;
}

.leftpanel {
	display: inline-block;
	float: left;
	text-align: left;
	width: 35%;
}
.rightpanel {
	display: inline-block;
	width: 60%;
}

#javascriptnotice {
	border: medium dashed red;
	color: red;
	font-weight: bold;
	padding: 1em;
	margin: 1em;
}
